<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<body id="b4">
    <header>
        <a href ="./index.html"><img id="logo" src="./mou.png" alt="full stack" /> </a>
        <nav>
            <a class="Nav-link" href="">Home</a>
            <a class="Nav-link" href="">Login</a>
            <a class="Nav-link" href="">Registration</a>

        </nav>
    </header>
    <section id="Eventsec">
        <div class="zip">
            <h2>Zipline </h2>
            <p style="color: aliceblue;">Apply for this</p>
            <p style="color: aliceblue;" class="event-desc"> “Jumping is fun! Skydiving is not just falling; it is flying—the closest we have been able to come to free, unencumbered, non-mechanical individual flight,” says Mike Turoff in the book The Skydiver’s Handbook.</p>
            <form action="" id="f3">
                <label for="fullname">Full name:</label><br>
                <input type="text" name="name"><br>
                <label for="age">Age:  </label><br>
                <input type="number" name="age"><br>
                <label for="weight">weight: </label><br>
                <input type="number" name="weight"><br>
                <label for="phno">Phno:  </label><br>
                <input type="number" name="phno"><br>
                <br>
                <input type="submit" value="apply">

            </form>


            
            
        </div>
    <footer class="">
        
        <p>©2023 Event Registration System</p>


    </footer>

    
</body>
</html>